<% provide(:title, @user.username ) %>
<h1>
  <%= @user.name %>
  <%= gravatar_for @user.email %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  <%= link_to "Home", users_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</p>
